//
@import './partials/general';


// ^ general classes ^ //
.container{
    width: 1200px;
    margin: 0 auto;
}
// ^ general classes ^ //



// * start header * //
header{
    background-color: black;
    padding: 15px;

    ul{
        list-style: none;

        a{
            color: white;
            padding: 0px 15px;

            li{
                display: inline-block;
            }
        }
    }
}
// * end header * //

// ? start section home.blade ? //
section{
    background-color: #E0FFFF;
    padding: 15px;
    height: calc(100vh - 96px);

    div.container{
        text-align: center;

        h1{
            font-size: 30px;
        }
    }
}
// ? end section home.blade ? //

// ! start section movie.blade ! //
section.movie-container{
    padding: 0;
    display: flex;
    align-items: center;

    div.container{
        width: 100%;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div.card{
            width: calc(100% / 6);
            border: 2px solid black;
            padding: 15px;
            margin: 10px;
        }
    }
}
// ! end section movie.blade ! //

// & start footer & //
footer{
    background-color: black;
    padding: 15px;
    color: white;
}